* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galaxy-canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
    /* z-index: 2; */
}

.scroll-trigger{
    width: 100px;
    height: 200vh;
    opacity: 0.5;
    position: relative;
    z-index: -2;
}

#first-section{
    background-color: rgb(19, 19, 185);
}

#second-section{
    background-color: rgb(15, 202, 62);
}

#third-section{
    background-color: rgb(202, 15, 186);
}

#fourth-section{
    background-color: rgb(202, 199, 15);
}

#fifth-section{
    background-color: rgb(15, 196, 202);
}